rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isPrivilegedAdmin() {
      return request.auth != null
        && request.auth.token.role in ['Owner', 'Admin'];
    }

    // Home page CMS JSON
    match /cms/home-page.json {
      allow read: if true;
      allow write: if isPrivilegedAdmin();
    }
  }
}
